.App {
  background: #bef954;
  background: -webkit-linear-gradient(bottom right, #bef954, #5bfbff);
  background: -moz-linear-gradient(bottom right, #bef954, #5bfbff);
  background: linear-gradient(to top left, #bef954, #5bfbff);
  opacity: 1;
  z-index: 9999;
}